.App{
  background-color: azure;
}

.header{
  text-align: center;
  padding-top: 1%;
  font-size: large;
}

.api-call{
  padding-left: 5%;
  background-color: white;
  padding-top: 1%;
  font-size: large;
}
